@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body {
  margin: 0;
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


.icon{
  font-size: 1.5em;
  color:rgb(126, 164, 236);
}


.hourly_slider{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-size: 16px !important;
}


.slick-list,.slick-track{
  height: 100% !important;
  
}

.slick-track{
  display: flex !important;
  align-items: center !important;
  margin: 0px !important;
  padding: 5px 0px;
}



.slick-slide {
  margin-right: 5px;
}

.slick-slide:first-child {
  margin-right: 5px;
  margin-left: 2px;
}


.dev{
  background-color: rgb(238, 56, 93);
  width: 100%;
  text-align: center;
  color:white;
  font-family: poppins;
  margin-top: -10px;
  border-radius:0px 0px 8px 8px;
  padding:5px 0px;
}